.headline {
  font-size: 3em;
  font-weight:700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.byline {
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p {
  font-family: Georgia, serif;
  line-height: 180%;
}

#caption {
font-family: 'Montserrat', sans-serif;
font-size:11.5px;
font-style; normal;
color: #A8A8A8;
}

footer {
  background-color: black;
  text-align: center;
}

#column {
text-align: center;
}
