.headline {
  font-size: 2.5em;
  font-weight:700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.byline {
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p {
  font-family: Georgia, serif;
  line-height: 180%;
  text-align: justify;

    margin-right: 150px;
    margin-left: 150px;
  }

#caption {
font-family: 'Montserrat', sans-serif;
font-size:13.5px;
font-style; normal;
color: #A8A8A8;
margin-right: 150px;
margin-left: 150px;
}

footer {
  text-align: center;
  font-family: Georgia, serif;
  padding-top: 3px;
  padding-bottom: 0px;
  background-color: white;
  color: black;
}

#column {
text-align: center;
}

#section {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}

html {
    scroll-behavior: smooth;
  }

#center {
  text-align:center;
}

#container {
  max-width: inherit;
  margin: 0 auto;
}
#content {
    width:1115px;
    margin: auto;
    background:rgba(255, 250, 250, 0.5);
  }


/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 1px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

  .banner {
    width: 100%;
  }


  #grad {
    background-image: linear-gradient(to right, #e39ec0, #95a8e2);
  }
